/* 头部样式开始 */
	#all{
		background-color:#f3f3f3;
		width:100%;
	}
	#header{
		background:url("../images/nav-bj.png") repeat-x scroll 0 0 #FFF;
		background-color:#f3f3f3;
		width:100%;
	}
	#header .contWidth{
		position: relative;
    	height: 105px;
    	margin: 0 auto;
    	width: 1212px;
    	z-index: 100;
	}
	#header .logo { 
		float:left; 
		margin:0 0 0 10px; 
		color:#FFF; 
		line-height:80px;
	}
	#header .search {
    	left: 200px;
    	position: absolute;
    	top: 25px;
	}
	#inputSearch {
   		border: 1px solid #BABEBF;
    	color: #999999;
    	font-size: 14px;
    	height: 20px;
    	padding: 3px 6px 5px 6px;
    	width: 220px;
	}
	#inputSearch.focus{
    	border: 1px solid #00A5FF;
	}
/* 切换皮肤控件 */
	#skin { 
		float:right; 
		margin:10px; 
		padding:4px; 
		width:120px; 
	}
	#skin li { 
		float:left; 
		margin-right:4px; 
		width:15px; 
		height:15px; 
		text-indent:-9999px; 
		overflow:hidden; 
		display:block; 
		cursor:pointer; 
		background-image:url("../images/theme.gif"); 
	}
	#skin_0 { background-position:0px 0px; }
	#skin_1 { background-position:15px 0px; }
	#skin_2 { background-position:35px 0px; }
	#skin_3 { background-position:55px 0px; }
	#skin_4 { background-position:75px 0px; }
	#skin_5 { background-position:95px 0px; }
	#skin_0.selected { background-position:0px 15px; }
	#skin_1.selected { background-position:15px 15px; }
	#skin_2.selected { background-position:35px 15px; }
	#skin_3.selected { background-position:55px 15px; }
	#skin_4.selected { background-position:75px 15px; }
	#skin_5.selected { background-position:95px 15px; }
/*导航样式开始*/
	.mainNav {
    	position: absolute;
    	top: 75px;
    	left: 0;
    	height: 43px;
    	line-height: 43px;
    	width: 1212px;
    	z-index:100;
    	background-color: #6985AD;
	}
	.mainNav .nav {
    	display: inline;
    	float: left;
    	margin-left: 25px;
	}
	.mainNav ul li { 
		float:left; 
    	display: inline;
		margin-right:20px;
		position: relative ;
		z-index:100;
	}
	.mainNav ul li a { 
		display:block;
		padding:0 8px; 
		font-weight:700;
		color:#FFF;
		font-size:16px;
	}
	.mainNav ul li a:hover { 
		background:none; 
	}
/* 二级菜单 */
	.jnNav {
    	background:#FFFFFF;
    	border: 1px solid #B1B1B1;
		border-top:0;
    	left: 0;
    	overflow: hidden;
    	position: absolute;
    	top: 43px;
    	width: 474px;
    	z-index: 1000;
		display:none;
	}
	.jnNav .subitem {
    	float: left;
   		height: auto !important;
    	min-height: 100px;
    	padding: 10px 12px;
    	width: 450px;
	}
	.jnNav .subitem dl {
    	border-top: 1px dashed #C4C4C4;
   		overflow: hidden;
    	padding: 8px 0;
		float:left;
	}
	.jnNav .subitem .fore {
    	border-top-style: none;
    	padding-top: 0;
	}
	.jnNav .subitem dt {
    	float: left;
    	font-weight: bold;
   		line-height: 16px;
    	padding: 4px 3px;
    	text-align: center;
    	width: 76px;
	}
	.jnNav .subitem dt a {
    	color: #000;
    	font-weight: 700;
		font-size:14px;
		padding:0;
	}
	.jnNav .subitem dd {
    	float: left;
    	overflow: hidden;
   		padding: 0;
    	width: 364px;
		height:70px;
	}
	.jnNav .subitem em {
    	border-right: 1px solid #CCCCCC;
    	float: left;
   		font-style: normal;
    	height: 24px;
    	line-height: 14px;
    	margin: 5px 0;
    	padding: 0 8px;
	}
	.jnNav .subitem em a {
    	color: #666;
    	white-space: nowrap;
		font-size:14px;
		font-weight:normal;
		border:1px dotted #888;
		padding:3px;
		background-color:#D2E3FC;
	}
	.jnNav .subitem .noborder{
		color:#FF0000;
	}
/* 头部样式结束 */

/* 主体样式 */
	#content{
    	clear: left;
   		margin: 0 auto;
    	position: relative;
   		width: 1212px;
	}
	.janeshop{
    	height: 1100px;
    	overflow: hidden;
   		padding: 24px 0;
	}
/* 个人简介开始 */
	#jnCatalog{
    	float: left;
    	height: 1100px;
    	margin: 0 11px 0 0;
    	overflow: hidden;
   		width: 230px;
		background-color:#FFF;
	}
	#jnCatalog h2{
		height:37px;
		line-height:37px;
		color:#fff;
		font-size:15px;
		background-color:#6E6E6E;
		text-align:center;
	}
	.jnCatainfo{
    	border: 1px solid #FFF;
    	border-style: none solid solid;
    	border-width: 0 2px 2px;
		border-color:#fff;
   		height: 1050px;
    	overflow: hidden;
    	padding: 5px 10px 0;
    	width: 206px;
	}
	.jnCatainfo #mypic{
		float:left;
		width:206px;
		text-align:center;
		position:relative;
		margin-top:10px;
		border-bottom: 1px solid #EEEEEE;
		padding-bottom:12px;
		margin-bottom:12px;
	}
	.jnCatainfo #mypic img{
		border:6px solid #7AA6D4;
	}
	.jnCatainfo .promoted{
		color:#F9044E;
		font-size:16px;
	}
	.jnCatainfo em .hot {
    	background: url("../images/sun.gif") no-repeat scroll 0 0 transparent;
    	height: 30px;
		width:30px;
    	position: absolute;
    	top: -13px;
		left:122px;
	}
	.jnCatainfo p{
		float:left;
		color: #666;
		height:160px;
		line-height:24px;
		position:relative;
		text-indent:2em;
	}
	.jnCatainfo #work{
		float:left;
		color: #666;
		position:relative;
		height:450px;
		width:205px;
		line-height:24px;
		text-indent:0.8em;
	}
	.jnCatainfo #work h3{
		color:#6985AD;
		font-size:15px;
		height:37px;
		line-height:37px;
		text-align:center;
		width:205px;
		border-bottom: 1px solid #EEEEEE;
		text-indent:0;
	}
	.jnCatainfo #work h4{
		font-size:15px;
		height:37px;
		line-height:37px;
		width:205px;
	}
	.jnCatainfo #work h5{
		font-size:12px;
		height:24px;
		line-height:24px;
		width:205px;

	}
	.jnCatainfo #work h6{
		font-size:12px;
		height:24px;
		line-height:24px;
		width:205px;
		color:#7aa6d4;
	}
	.jnCatainfo #work ul{
		float:left;
		padding:0 2px 8px;
	}
	.jnCatainfo #work li{
		height:24px;
		line-height:24px;
		width:205px;
		position:relative;
		overflow:hidden;
		text-indent:3.7em;
	}
	.jnCatainfo #study {
		float:left;
		color: #666;
		position:relative;
		height:220px;
		width:205px;
		line-height:24px;
		text-indent:0.8em;
	}
	.jnCatainfo #study h3{
		color:#6985AD;
		font-size:15px;
		height:37px;
		line-height:37px;
		text-align:center;
		width:205px;
		text-indent:0;
		border-bottom: 1px solid #EEEEEE;
	}
	.jnCatainfo #study h4{
		font-size:15px;
		height:37px;
		line-height:37px;
		width:205px;
	}
	.jnCatainfo #study h5{
		font-size:12px;
		height:24px;
		line-height:24px;
		width:205px;

	}
	.jnCatainfo #study h6{
		font-size:12px;
		height:24px;
		line-height:24px;
		width:205px;
		color:#7aa6d4;
	}
	.jnCatainfo #stydu ul{
		float:left;
		padding:0 2px 8px;
	}
	.jnCatainfo #study li{
		height:24px;
		line-height:24px;
		width:205px;
		position:relative;
		overflow:hidden;
		text-indent:3.7em;
	}
				
/* 个人简介结束 */

/* 大屏滚动图开始 */
	#jnImageroll {
    	float: left;
    	height: 420px;
    	margin: 0 11px 11px 0;
    	overflow: hidden;
    	position: relative;
    	width: 680px;
		background-color:#FFF;
	}
	#jnImageroll img {
    	position: absolute;
    	left: 0;
    	top: 0;
	}
	#jnImageroll div {
    	bottom: 0;
    	overflow: hidden;
    	position: absolute;
    	float: left;
	}
	#jnImageroll div a {
    	background-color: #444444;
    	color: #FFFFFF;
    	display: inline-block;
    	float: left;
    	height: 44px;
    	margin-right: 1px;
    	overflow: hidden;
    	padding: 5px 15px;
    	text-align: center;
    	width: 105px;
	}
	#jnImageroll div a:hover {
    	text-decoration: none;
	}
	#jnImageroll div a em {
    	cursor: pointer;
    	display: block;
    	height: 22px;
    	overflow: hidden;
    	width: 105px;
		line-height:22px;
		font-size:12px;
	}
	#jnImageroll a.chos {
    	background: url("../images/adindex.gif") no-repeat center 51px #37A7D7;
    	color: #FFFFFF;
	}

/* 大屏滚动图结束 */

/* 右侧联系方式开始 */
	#touch{
		float:right;
		/*height:*/
		overflow:hidden;
		width:280px;
		background-color:#FFF;
	}
	#touch .rightbox{
		margin-bottom:11px;
	}
	.appbox{
		text-align:center;
	}
	.boxtitle{
		width:141px;
		height:43px;
		line-height:43px;
		display:inline-block;
		color:#FFF;
		background-color:#7AA6D4;
		font-size:15px;
	}
	.boxa{
		height:66px;
		border-top:1px dashed #cadbee;
		border-bottom:1px dashed #cadbee;
		margin:10px 0;
		padding:16px 0 0 20px;
		}
	.boxa a{
		float:left;
		background:url("../images/app-icon.png") no-repeat; 
		width:45px; 
		height:45px; 
		display:inline-block;
	}
	.boxa a.weixin{
		background-position:0 0;
		margin-right:20px;
	}
	.boxa a.weixin:hover{
		background-position:0 -75px;
	}
	.boxa .wechat{
		display: none;
		width: 120px;
		height: 120px;
	}
	.boxa a.weixin:hover .wechat{
		display: block;
		position: absolute;
		top: 140px;
		left:912px;
	}
	.boxa a.xinlang{
		background-position:-57px 0;
		margin-right:20px;
	}
	.boxa a.xinlang:hover{
		background-position:-57px -75px;
	}
	.boxa a.qqweibo{
		background-position:-114px 0;
		margin-right:20px;
	}
	.boxa a.qqweibo:hover{
		background-position:-114px -75px;
	}
	.boxa a.qq{
		background-position:-228px 0;
		margin-right:20px;
	}
	.boxa a.qq:hover{
		background-position:-228px -75px;
	}
	.boxb{
		width:240px; 
		background-color:#e9eff7; 
		border-radius:4px; 
		padding:20px 10px; 
		display:inline-block; 
		margin-bottom:10px; 
		font-size:12px;	
	}
	.boxb .codedl{
		background:url("../images/fg.jpg") no-repeat right;
		float:left;
		width:80px;
		padding-top:3px;
	}
	.codedl dd{
		width:69px;
		height:69px;
	}
	.codedl dt{
		line-height:30px;
		width:69px;
	}
	.boxb .codeul{
		float:left;
		margin-left:8px;
		padding-top:10px;
	}
	.codeul li{
		line-height:28px;
		text-align:left;
	}
/* 右侧联系方式结束 */

/* 右侧动图一开始 */
	#jnNotice{
		float:left;
		margin:11px 0 0;
	}
	.JS_css3 img {
		-webkit-transition:1s all;
		-moz-transition:1s all;
		-o-transition:1s all;
		transition:1s all;
	}
	.JS_css3:hover img {
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
/* 右侧动图一结束 */

/* 右侧动图二开始 */
	#jngif{
		float:right;
		margin:11px 0 0;
	}
/* 右侧动图二结束 */

/* 右侧动图三开始 */
	#longgif{
		float:left;
		top:656px;
		left:932px;
		margin:11px 0 0;
		position:absolute;
	}
/* 右侧动图三结束 */

/* 个人技能开始 */
	.skills{
		float:left;
		width:680px;
		height:329px;
		position:absolute;
		top:454px;
		left:241px;
		background-color:#FFF;	
		margin-bottom:11px;
	}
	.skill_title{
		height:42px;
		line-height:42px;
		border-bottom:1px solid #f2f1f1;
		background:url("../images/title.png") no-repeat 0 0;
		font-size:16px;
		font-weight:normal;
		padding-left:25px;
		position:relative;
	}
	.skill_ul{
		position:absolute;
		right:10px;
		top:13px;
		width:auto;
	}
	.skill_ul li{
		float:left;
		margin-left:6px;
	}
	.skill_ul li #skill_a_1{
		background:url("../images/title.png") no-repeat 0px -54px; 
		width:15px; 
		height:15px; 
		text-indent:-99999px; 
		float:left;
	}
	.skill_ul li #skill_a_1:hover{
		background-position:0px -75px;
	}
	.skill_ul li #skill_a_1.selected{
		background-position:0px -75px;
	}
	.skill_ul li #skill_a_2{		
		background:url("../images/title.png") no-repeat -19px -54px; 
		width:15px; 
		height:15px; 
		text-indent:-99999px; 
		float:left;
	}
	.skill_ul li #skill_a_2:hover{
		background-position:-19px -75px;
	}
	.skill_ul li #skill_a_2.selected{
		background-position:-19px -75px;
	}
	.skill_all .tab{
		width:600px;
		height:248px;
		float:left;
		overflow:hidden;
		margin:20px 40px;
		background-color:#e9eff7;
		border-radius:8px;
	}
	#hide{
		display:none;
	}
	.tab .book{
		float:left;
		position:relative;
		top:24px;
		left:100px;
	}
	.tab .book ul li{
		margin-bottom:36px;
	}
	.tab .book ul li img{
		border-right:3px solid #ddd;
		border-bottom:3px solid #ddd;
	}
	.tab .booktitle{
		float:left;
		position:relative;
		top:32px;
		left:170px;
	}
	.tab .booktitle ul li{
		margin-bottom:60px;
		width:320px;
		height:auto;
	}
	.tab .booktitle ul li h3{
		height:36px;
		line-height:36px;
	}
	.tab .booktitle ul li p{
		height:20px;
		line-height:20px;
	}	
	
/* 个人技能结束 */

/* 个人风采开始 */
	#jnBrand {
    	float: left;
    	height: 328px;
    	overflow: hidden;
    	width: 970px;
		border-right:1px solid #FFF;
		background-color:#fff;
		position:absolute;
		top:794px;
		left:241px;
	}
	#jnBrandTab {
		height:42px;
		float: left;
		border-bottom:1px solid #f2f1f1;
		background:url("../images/title.png") no-repeat 0 0;
		padding-left:25px;
		position:relative;
   		width: 970px;
	}
	#jnBrandTab h2{
		line-height:42px;
		font-size:16px;
		font-weight:normal;
	}
	#jnBrandTab ul{
		position:absolute;
		right:40px;
		top:13px;
		width:auto;
	}
	#jnBrandTab ul li{	
		float:left;
		margin-left:6px;
	}
	#jnBrandTab ul li i{
		width:19px;
		height:19px;
		line-height:19px;
		background-color:#A6C6E6;
		color:#FFF;
    	display: inline-block;
		font-style:normal;
		text-align:center;
		cursor:pointer;
	}
	#jnBrandTab ul li i:hover{
		background-color: #346FAD;
    	color: #FFFFFF;
    	outline: 0 none;
	}
	#jnBrandTab .chos {
    	background-color: #346FAD;
    	color: #FFFFFF;
    	outline: 0 none;
	}	
	#jnBrandContent {
    	float: left;
   		height: 263px;
   		margin: 13px 5px 0;
    	width: 960px;
		position: relative;
		background-color:#fff;
	}
	#jnBrandList {
    	position: absolute;
    	left: 0;
    	top: 0;
    	width: 4102px;
	}
	#jnBrandContent li {
    	float: left;
    	height: 263px;
    	padding: 0 5px;
    	position: relative;
    	width: 230px;
	}
	#jnBrandContent li img {
    	left: 5px;
    	position: absolute;
    	top: 0;
	}
	#jnBrandContent #thickImg img{
		position:absolute;
		top:-22px;
		left:63px;

	}
	#jnBrandContent li span {
    	background-color: #fff;
    	bottom: 0;
    	color: #666666;
    	display: inline-block;
    	height: 24px;
    	line-height: 24px;
    	position: absolute;
    	text-align: center;
    	width: 230px;
		top:243px;
		left:5px;
	}
	#jnBrandContent li span a{
		color:#666;	
		font-size: 16px;
	}
/* 个人风采结束 */

/* 主体样式结束 */

/* footer */
	#footer{
		background:url("../images/nav-bj.png") repeat-x scroll 0 0 #f3f3f3;
		width:100%;
		height:100%;
    	margin: 0 auto;
    	color: #ddd;
    	padding: 18px 0;
    	text-align: center;
		clear:both;
		font-size:10px;
	}

