	/*—˘ Ω÷ÿ÷√*/
	html,body,p,dl,dt,dd,table,td,th,input,img,form,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,select,fieldset,fieldset,button,sub,sup,textarea,hr,blockquote,pre,legend,th,td{
		margin:0;
		padding:0;
		font-family:"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Arial,Verdana,Tahoma,sans-serif;
	}
	body,button,input,select,textarea{
		font:14px/1.5 \5FAE\8F6F\96C5\9ED1,Arial,\5b8b\4f53,Tahoma,sans-serif;
		font-family:"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Arial,Verdana,Tahoma,sans-serif;
	}
	h1,h2,h3,h4,h5,h6{
		font-size:100%;
	}
	address,cite,dfn,em,var{
		font-style:normal;
	}
	code,kbd,pre,samp{
		font-family:courier new,courier,monospace;
	}
	small{
		font-size:12px;
	}
	ul,ol{
		list-style:none;
	}
	a{
		text-decoration:none;
	}
	a:hover{
		text-decoration:none;
	}
	sup{
		vertical-align:text-top;
	}
	sub{
		vertical-align:text-bottom;
	}
	legend{
		color:#000;
	}
	fielddet,img{
		border:0;
	}
	button,input,select,textarea{
		font-family:"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Arial,Verdana,Tahoma,sans-serif;
		font-size:100%;
	}
	table{
		border-collapse:collapse;
		border-spacing:0;
	}
	.clear{
		clear:both;
		float:none;
		height:0;
		overflow:hidden;
	}
	html .hide{
		display:none;
	}
	

